<table>
<tr>
<td><img src="images/python-logo-master.png" style="width:252px"></td>
<td><img src="images/pandas_logo.png" style="width:525px"></td>
</tr>
</table>             

# Data Manipulation with Python and Pandas
## Answers to Examples

## School of Medicine Research Computing
**Christina Gancayco**<br>
**January 15, 2019**<br>
**gancayco@virginia.edu**<br>

## Import the modules and dataset

In [1]:
# Let's import the modules we'll be using
import pandas as pd
import numpy as np

# We will assign the input data to a variable called df.
# (In this lesson we are using df, but you can name this variable anything you want.)

df = pd.read_csv("nhanes.csv")

## Example 1

Query for current smokers with a BMI over 25.

The result should be 394 rows x 32 columns.

In [2]:
# Example 1 Answer

df.query("SmokingStatus == 'Current' & BMI > 25")

,id,Gender,Age,Race,Education,MaritalStatus,RelationshipStatus,Insured,Income,Poverty,...,Diabetes,DiabetesAge,nPregnancies,nBabies,SleepHrsNight,PhysActive,PhysActiveDays,AlcoholDay,AlcoholYear,SmokingStatus
1,62172,female,43,Black,High School,NeverMarried,Single,Yes,22500.0,2.02,...,No,NaN,3.0,2.0,8.0,No,2.0,3.0,104.0,Current
36,62232,female,42,White,Some College,Married,Committed,Yes,87500.0,3.30,...,No,NaN,3.0,3.0,5.0,No,NaN,2.0,36.0,Current
104,62363,female,44,White,9 - 11th Grade,Divorced,Single,Yes,30000.0,1.43,...,No,NaN,3.0,3.0,2.0,No,4.0,NaN,0.0,Current
112,62397,female,70,Mexican,8th Grade,Widowed,Single,Yes,NaN,NaN,...,No,NaN,4.0,3.0,9.0,No,NaN,NaN,0.0,Current
168,62487,male,65,Hispanic,9 - 11th Grade,Married,Committed,No,87500.0,5.00,...,No,NaN,NaN,NaN,6.0,Yes,NaN,1.0,1.0,Current
189,62530,female,51,White,9 - 11th Grade,Divorced,Single,Yes,22500.0,0.89,...,Yes,50.0,7.0,5.0,7.0,No,5.0,1.0,2.0,Current
194,62546,male,64,Mexican,Some College,Widowed,Single,Yes,30000.0,2.69,...,No,NaN,NaN,NaN,7.0,Yes,5.0,6.0,24.0,Current
251,62632,male,29,Asian,9 - 11th Grade,NeverMarried,Single,No,22500.0,1.08,...,No,NaN,NaN,NaN,4.0,No,NaN,82.0,104.0,Current
304,62763,male,29,White,Some College,Married,Committed,Yes,100000.0,5.00,...,No,NaN,NaN,NaN,6.0,Yes,3.0,2.0,260.0,Current
330,62798,male,50,Hispanic,9 - 11th Grade,Married,Committed,No,30000.0,1.57,...,No,NaN,NaN,NaN,8.0,Yes,2.0,6.0,24.0,Current
348,62817,male,41,Black,High School,LivePartner,Committed,Yes,30000.0,0.94,...,Yes,30.0,NaN,NaN,6.0,No,5.0,1.0,2.0,Current
353,62828,female,21,White,Some College,LivePartner,Committed,Yes,40000.0,0.78,...,No,NaN,NaN,NaN,8.0,Yes,NaN,NaN,NaN,Current
357,62840,male,60,White,8th Grade,Married,Committed,Yes,22500.0,1.27,...,No,NaN,NaN,NaN,4.0,No,NaN,NaN,0.0,Current
367,62864,female,57,White,Some College,NeverMarried,Single,Yes,2500.0,0.32,...,No,NaN,NaN,NaN,6.0,No,NaN,1.0,1.0,Current
372,62875,female,46,White,Some College,Divorced,Single,Yes,50000.0,2.81,...,No,NaN,3.0,2.0,6.0,Yes,NaN,4.0,24.0,Current
383,62883,female,80,White,Some College,Married,Committed,NaN,40000.0,2.31,...,No,NaN,3.0,3.0,8.0,No,NaN,1.0,312.0,Current
391,62902,female,48,White,Some College,Married,Committed,No,22500.0,1.08,...,No,NaN,2.0,1.0,7.0,No,1.0,2.0,2.0,Current
392,62902,female,48,White,Some College,Married,Committed,No,22500.0,1.08,...,No,NaN,2.0,1.0,7.0,No,NaN,2.0,2.0,Current
412,62938,female,32,Black,High School,NeverMarried,Single,No,30000.0,1.13,...,No,NaN,NaN,NaN,5.0,No,3.0,NaN,NaN,Current
445,63003,male,40,White,9 - 11th Grade,Married,Committed,Yes,NaN,NaN,...,No,NaN,NaN,NaN,6.0,No,3.0,NaN,0.0,Current
446,63003,male,40,White,9 - 11th Grade,Married,Committed,Yes,NaN,NaN,...,No,NaN,NaN,NaN,6.0,No,NaN,NaN,0.0,Current
447,63003,male,40,White,9 - 11th Grade,Married,Committed,Yes,NaN,NaN,...,No,NaN,NaN,NaN,6.0,No,2.0,NaN,0.0,Current
521,63127,male,28,Asian,Some College,Married,Committed,Yes,87500.0,3.30,...,No,NaN,NaN,NaN,6.0,Yes,5.0,6.0,104.0,Current
551,63163,male,48,White,9 - 11th Grade,NeverMarried,Single,Yes,100000.0,0.85,...,No,NaN,NaN,NaN,6.0,No,2.0,3.0,5.0,Current
552,63163,male,48,White,9 - 11th Grade,NeverMarried,Single,Yes,100000.0,0.85,...,No,NaN,NaN,NaN,6.0,No,NaN,3.0,5.0,Current
553,63163,male,48,White,9 - 11th Grade,NeverMarried,Single,Yes,100000.0,0.85,...,No,NaN,NaN,NaN,6.0,No,NaN,3.0,5.0,Current
554,63163,male,48,White,9 - 11th Grade,NeverMarried,Single,Yes,100000.0,0.85,...,No,NaN,NaN,NaN,6.0,No,NaN,3.0,5.0,Current
555,63163,male,48,White,9 - 11th Grade,NeverMarried,Single,Yes,100000.0,0.85,...,No,NaN,NaN,NaN,6.0,No,NaN,3.0,5.0,Current
556,63163,male,48,White,9 - 11th Grade,NeverMarried,Single,Yes,100000.0,0.85,...,No,NaN,NaN,NaN,6.0,No,NaN,3.0,5.0,Current
571,63211,female,46,White,High School,Married,Committed,Yes,87500.0,3.16,...,Yes,42.0,4.0,2.0,7.0,No,NaN,2.0,4.0,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4599,71093,male,50,White,High School,LivePartner,Committed,Yes,100000.0,5.00,...,No,NaN,NaN,NaN,6.0,Yes,7.0,9.0,260.0,Current
4604,71101,male,51,White,9 - 11th Grade,NeverMarried,Single,Yes,7500.0,0.75,...,No,NaN,NaN,NaN,3.0,No,NaN,1.0,12.0,Current
4608,71118,female,51,White,College Grad,Married,Committed,Yes,17500.0,0.99,...,No,NaN,5.0,3.0,5.0,No,NaN,NaN,NaN,Current
4613,71127,female,70,White,College Grad,Married,Committed,Yes,87500.0,5.00,...,Yes,60.0,4.0,4.0,9.0,No,2.0,NaN,0.0,Current
4666,71234,female,47,White,College Grad,NeverMarried,Single,Yes,40000.0,2.92,...,No,NaN,1.0,1.0,5.0,No,3.0,NaN,0.0,Current
4667,71234,female,47,White,College Grad,NeverMarried,Single,Yes,40000.0,2.92,...,No,NaN,1.0,1.0,5.0,No,3.0,NaN,0.0,Current
4668,71234,female,47,White,College Grad,NeverMarried,Single,Yes,40000.0,2.92,...,No,NaN,1.0,1.0,5.0,No,1.0,NaN,0.0,Current
4671,71237,female,43,White,Some College,Divorced,Single,Yes,NaN,NaN,...,No,NaN,NaN,NaN,9.0,Yes,6.0,NaN,NaN,Current
4681,71263,male,47,White,College Grad,Divorced,Single,No,2500.0,0.00,...,No,NaN,NaN,NaN,6.0,Yes,NaN,4.0,52.0,Current
4691,71279,male,40,White,9 - 11th Grade,Married,Committed,No,30000.0,1.11,...,No,NaN,NaN,NaN,8.0,No,NaN,12.0,3.0,Current
4715,71309,female,59,Black,9 - 11th Grade,Divorced,Single,Yes,NaN,NaN,...,Yes,31.0,2.0,1.0,9.0,No,1.0,5.0,364.0,Current
4729,71340,female,36,White,9 - 11th Grade,Divorced,Single,Yes,22500.0,1.10,...,No,NaN,3.0,NaN,6.0,No,4.0,5.0,24.0,Current
4751,71403,female,30,White,Some College,Married,Committed,No,22500.0,0.92,...,No,NaN,4.0,3.0,8.0,Yes,2.0,1.0,3.0,Current
4757,71415,male,38,White,Some College,Divorced,Single,Yes,40000.0,1.00,...,No,NaN,NaN,NaN,8.0,No,5.0,NaN,NaN,Current
4787,71478,male,43,Mexican,8th Grade,LivePartner,Committed,Yes,40000.0,1.53,...,No,NaN,NaN,NaN,7.0,No,3.0,3.0,208.0,Current
4791,71495,female,28,Hispanic,High School,LivePartner,Committed,Yes,22500.0,1.04,...,No,NaN,2.0,2.0,6.0,No,NaN,3.0,52.0,Current
4813,71567,male,35,White,High School,LivePartner,Committed,Yes,100000.0,0.92,...,No,NaN,NaN,NaN,6.0,Yes,NaN,3.0,52.0,Current
4814,71567,male,35,White,High School,LivePartner,Committed,Yes,100000.0,0.92,...,No,NaN,NaN,NaN,6.0,Yes,3.0,3.0,52.0,Current
4815,71567,male,35,White,High School,LivePartner,Committed,Yes,100000.0,0.92,...,No,NaN,NaN,NaN,6.0,Yes,NaN,3.0,52.0,Current
4822,71575,female,66,Black,9 - 11th Grade,Divorced,Single,No,12500.0,0.76,...,No,NaN,6.0,6.0,8.0,No,NaN,NaN,0.0,Current
4868,71658,male,25,Mexican,9 - 11th Grade,LivePartner,Committed,No,7500.0,0.13,...,No,NaN,NaN,NaN,7.0,Yes,NaN,3.0,104.0,Current
4912,71755,male,22,Hispanic,9 - 11th Grade,NeverMarried,Single,No,40000.0,0.90,...,No,NaN,NaN,NaN,8.0,No,NaN,NaN,NaN,Current
4933,71785,male,64,Black,9 - 11th Grade,Divorced,Single,Yes,NaN,NaN,...,No,NaN,NaN,NaN,5.0,No,3.0,NaN,0.0,Current
4947,71802,male,53,White,Some College,LivePartner,Committed,No,30000.0,0.92,...,No,NaN,NaN,NaN,8.0,Yes,NaN,5.0,312.0,Current
4979,71869,male,69,White,College Grad,Married,Committed,Yes,50000.0,2.70,...,No,NaN,NaN,NaN,8.0,No,NaN,NaN,0.0,Current
4980,71869,male,69,White,College Grad,Married,Committed,Yes,50000.0,2.70,...,No,NaN,NaN,NaN,8.0,No,NaN,NaN,0.0,Current
4981,71869,male,69,White,College Grad,Married,Committed,Yes,50000.0,2.70,...,No,NaN,NaN,NaN,8.0,No,3.0,NaN,0.0,Current
4993,71909,male,28,Mexican,9 - 11th Grade,NeverMarried,Single,No,7500.0,0.46,...,No,NaN,NaN,NaN,6.0,Yes,NaN,NaN,NaN,Current
4994,71909,male,28,Mexican,9 - 11th Grade,NeverMarried,Single,No,7500.0,0.46,...,No,NaN,NaN,NaN,6.0,Yes,NaN,NaN,NaN,Current
4995,71909,male,28,Mexican,9 - 11th Grade,NeverMarried,Single,No,7500.0,0.46,...,No,NaN,NaN,NaN,6.0,Yes,NaN,NaN,NaN,Current

## Example 2

Find the patients who are in the 90th percentile for BMI.

The result should be 481 rows x 32 columns.

In [3]:
# Example 2 Answer

# Possible answer
df[df.BMI > df.BMI.quantile(0.90)]

# Another possible answer
df.query("BMI > BMI.quantile(0.90)")

,id,Gender,Age,Race,Education,MaritalStatus,RelationshipStatus,Insured,Income,Poverty,...,Diabetes,DiabetesAge,nPregnancies,nBabies,SleepHrsNight,PhysActive,PhysActiveDays,AlcoholDay,AlcoholYear,SmokingStatus
23,62220,female,31,Black,College Grad,NeverMarried,Single,Yes,60000.0,4.92,...,No,NaN,NaN,NaN,6.0,Yes,3.0,3.0,36.0,Never
31,62228,male,50,White,College Grad,Married,Committed,Yes,87500.0,3.15,...,Yes,48.0,NaN,NaN,7.0,Yes,NaN,3.0,36.0,Never
32,62228,male,50,White,College Grad,Married,Committed,Yes,87500.0,3.15,...,Yes,48.0,NaN,NaN,7.0,Yes,NaN,3.0,36.0,Never
33,62228,male,50,White,College Grad,Married,Committed,Yes,87500.0,3.15,...,Yes,48.0,NaN,NaN,7.0,Yes,NaN,3.0,36.0,Never
37,62233,female,63,Mexican,9 - 11th Grade,Separated,Single,Yes,30000.0,0.78,...,Yes,48.0,NaN,NaN,8.0,No,NaN,NaN,NaN,Former
39,62237,female,58,White,College Grad,Married,Committed,Yes,40000.0,2.64,...,No,NaN,3.0,2.0,6.0,No,3.0,NaN,0.0,Former
40,62237,female,58,White,College Grad,Married,Committed,Yes,40000.0,2.64,...,No,NaN,3.0,2.0,6.0,No,5.0,NaN,0.0,Former
49,62259,male,61,Black,Some College,Divorced,Single,Yes,17500.0,0.87,...,Yes,55.0,NaN,NaN,5.0,Yes,1.0,NaN,0.0,Former
93,62349,female,23,White,Some College,Married,Committed,No,50000.0,1.50,...,No,NaN,NaN,NaN,8.0,Yes,1.0,2.0,2.0,Never
94,62349,female,23,White,Some College,Married,Committed,No,50000.0,1.50,...,No,NaN,NaN,NaN,8.0,Yes,NaN,2.0,2.0,Never
110,62388,female,69,White,High School,Widowed,Single,Yes,12500.0,1.12,...,Yes,43.0,3.0,3.0,4.0,No,NaN,1.0,4.0,Never
111,62388,female,69,White,High School,Widowed,Single,Yes,12500.0,1.12,...,Yes,43.0,3.0,3.0,4.0,No,2.0,1.0,4.0,Never
112,62397,female,70,Mexican,8th Grade,Widowed,Single,Yes,NaN,NaN,...,No,NaN,4.0,3.0,9.0,No,NaN,NaN,0.0,Current
116,62413,male,65,White,Some College,LivePartner,Committed,Yes,22500.0,1.60,...,Yes,54.0,NaN,NaN,9.0,No,2.0,3.0,156.0,Former
117,62413,male,65,White,Some College,LivePartner,Committed,Yes,22500.0,1.60,...,Yes,54.0,NaN,NaN,9.0,No,NaN,3.0,156.0,Former
118,62413,male,65,White,Some College,LivePartner,Committed,Yes,22500.0,1.60,...,Yes,54.0,NaN,NaN,9.0,No,1.0,3.0,156.0,Former
119,62413,male,65,White,Some College,LivePartner,Committed,Yes,22500.0,1.60,...,Yes,54.0,NaN,NaN,9.0,No,NaN,3.0,156.0,Former
143,62454,female,64,Hispanic,Some College,Married,Committed,Yes,22500.0,1.32,...,Yes,61.0,2.0,2.0,6.0,No,NaN,NaN,0.0,Never
189,62530,female,51,White,9 - 11th Grade,Divorced,Single,Yes,22500.0,0.89,...,Yes,50.0,7.0,5.0,7.0,No,5.0,1.0,2.0,Current
194,62546,male,64,Mexican,Some College,Widowed,Single,Yes,30000.0,2.69,...,No,NaN,NaN,NaN,7.0,Yes,5.0,6.0,24.0,Current
197,62551,female,37,White,College Grad,Married,Committed,Yes,100000.0,5.00,...,No,NaN,NaN,NaN,7.0,Yes,5.0,NaN,NaN,Never
198,62551,female,37,White,College Grad,Married,Committed,Yes,100000.0,5.00,...,No,NaN,NaN,NaN,7.0,Yes,NaN,NaN,NaN,Never
215,62577,female,71,White,Some College,Married,Committed,Yes,30000.0,2.04,...,No,NaN,3.0,2.0,8.0,No,NaN,1.0,4.0,Former
224,62586,male,70,White,High School,NeverMarried,Single,Yes,22500.0,2.02,...,No,NaN,NaN,NaN,8.0,No,NaN,NaN,0.0,Never
225,62586,male,70,White,High School,NeverMarried,Single,Yes,22500.0,2.02,...,No,NaN,NaN,NaN,8.0,No,NaN,NaN,0.0,Never
226,62586,male,70,White,High School,NeverMarried,Single,Yes,22500.0,2.02,...,No,NaN,NaN,NaN,8.0,No,NaN,NaN,0.0,Never
251,62632,male,29,Asian,9 - 11th Grade,NeverMarried,Single,No,22500.0,1.08,...,No,NaN,NaN,NaN,4.0,No,NaN,82.0,104.0,Current
255,62644,male,61,Black,Some College,Widowed,Single,Yes,22500.0,1.79,...,Yes,35.0,NaN,NaN,6.0,No,7.0,NaN,0.0,Former
256,62644,male,61,Black,Some College,Widowed,Single,Yes,22500.0,1.79,...,Yes,35.0,NaN,NaN,6.0,No,NaN,NaN,0.0,Former
257,62644,male,61,Black,Some College,Widowed,Single,Yes,22500.0,1.79,...,Yes,35.0,NaN,NaN,6.0,No,3.0,NaN,0.0,Former
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4586,71072,female,50,Hispanic,High School,Separated,Single,Yes,30000.0,1.57,...,No,NaN,3.0,3.0,5.0,Yes,7.0,4.0,24.0,Former
4608,71118,female,51,White,College Grad,Married,Committed,Yes,17500.0,0.99,...,No,NaN,5.0,3.0,5.0,No,NaN,NaN,NaN,Current
4623,71140,male,26,Mexican,Some College,NeverMarried,Single,No,100000.0,5.00,...,No,NaN,NaN,NaN,8.0,No,NaN,8.0,52.0,Former
4716,71310,female,67,Black,Some College,Widowed,Single,Yes,30000.0,2.04,...,No,NaN,4.0,2.0,8.0,No,NaN,NaN,NaN,Never
4717,71315,male,44,White,8th Grade,Married,Committed,No,30000.0,1.11,...,No,NaN,NaN,NaN,5.0,No,NaN,NaN,0.0,Former
4718,71315,male,44,White,8th Grade,Married,Committed,No,30000.0,1.11,...,No,NaN,NaN,NaN,5.0,No,7.0,NaN,0.0,Former
4729,71340,female,36,White,9 - 11th Grade,Divorced,Single,Yes,22500.0,1.10,...,No,NaN,3.0,NaN,6.0,No,4.0,5.0,24.0,Current
4739,71362,male,23,Black,Some College,NeverMarried,Single,Yes,7500.0,0.05,...,No,NaN,NaN,NaN,6.0,No,NaN,NaN,NaN,Never
4751,71403,female,30,White,Some College,Married,Committed,No,22500.0,0.92,...,No,NaN,4.0,3.0,8.0,Yes,2.0,1.0,3.0,Current
4764,71428,male,35,White,Some College,Married,Committed,Yes,30000.0,1.57,...,No,NaN,NaN,NaN,4.0,No,2.0,NaN,0.0,Never
4765,71428,male,35,White,Some College,Married,Committed,Yes,30000.0,1.57,...,No,NaN,NaN,NaN,4.0,No,7.0,NaN,0.0,Never
4766,71428,male,35,White,Some College,Married,Committed,Yes,30000.0,1.57,...,No,NaN,NaN,NaN,4.0,No,NaN,NaN,0.0,Never
4789,71488,female,41,Black,High School,Married,Committed,No,22500.0,1.08,...,No,NaN,4.0,2.0,8.0,Yes,5.0,2.0,3.0,Former
4826,71581,male,36,Mexican,High School,Married,Committed,Yes,70000.0,2.82,...,Yes,27.0,NaN,NaN,8.0,Yes,NaN,12.0,12.0,Never
4827,71581,male,36,Mexican,High School,Married,Committed,Yes,70000.0,2.82,...,Yes,27.0,NaN,NaN,8.0,Yes,NaN,12.0,12.0,Never
4880,71678,female,70,White,College Grad,Married,Committed,Yes,100000.0,5.00,...,Yes,NaN,2.0,2.0,7.0,No,7.0,1.0,12.0,Never
4881,71678,female,70,White,College Grad,Married,Committed,Yes,100000.0,5.00,...,Yes,NaN,2.0,2.0,7.0,No,NaN,1.0,12.0,Never
4896,71705,male,67,Mexican,8th Grade,Married,Committed,Yes,12500.0,0.95,...,Yes,47.0,NaN,NaN,5.0,No,NaN,NaN,0.0,Former
4929,71775,male,62,White,9 - 11th Grade,Married,Committed,Yes,30000.0,1.52,...,Yes,55.0,NaN,NaN,6.0,No,2.0,6.0,156.0,Former
4930,71775,male,62,White,9 - 11th Grade,Married,Committed,Yes,30000.0,1.52,...,Yes,55.0,NaN,NaN,6.0,No,NaN,6.0,156.0,Former
4935,71787,female,50,Black,Some College,NeverMarried,Single,No,NaN,NaN,...,Yes,44.0,4.0,4.0,5.0,Yes,6.0,NaN,0.0,Never
4962,71828,female,49,Mexican,High School,Married,Committed,No,40000.0,1.97,...,No,NaN,3.0,2.0,6.0,No,4.0,4.0,4.0,Never
4964,71835,female,17,Black,NaN,NaN,NaN,Yes,7500.0,0.25,...,No,NaN,NaN,NaN,7.0,Yes,NaN,NaN,NaN,NaN
4965,71839,female,57,White,College Grad,NeverMarried,Single,Yes,50000.0,2.04,...,Yes,52.0,NaN,NaN,6.0,Yes,NaN,1.0,4.0,Never
4970,71855,female,62,White,High School,Married,Committed,Yes,12500.0,0.98,...,Yes,32.0,NaN,NaN,10.0,No,5.0,NaN,0.0,Former
4971,71855,female,62,White,High School,Married,Committed,Yes,12500.0,0.98,...,Yes,32.0,NaN,NaN,10.0,No,5.0,NaN,0.0,Former
4979,71869,male,69,White,College Grad,Married,Committed,Yes,50000.0,2.70,...,No,NaN,NaN,NaN,8.0,No,NaN,NaN,0.0,Current
4980,71869,male,69,White,College Grad,Married,Committed,Yes,50000.0,2.70,...,No,NaN,NaN,NaN,8.0,No,NaN,NaN,0.0,Current
4981,71869,male,69,White,College Grad,Married,Committed,Yes,50000.0,2.70,...,No,NaN,NaN,NaN,8.0,No,3.0,NaN,0.0,Current
4985,71880,male,46,Black,Some College,Married,Committed,Yes,NaN,NaN,...,No,NaN,NaN,NaN,6.0,No,NaN,NaN,NaN,Never

## Example 3

Select the id, Weight, Height, and BMI columns from the dataframe and sort by BMI in descending order.

The result should be 5000 rows x 4 columns.

In [4]:
# Example 3 Answer

df[["id", "Weight", "Height", "BMI"]].sort_values(by="BMI",ascending=False)

         id  Weight  Height   BMI
4256  70466   198.7   157.0  80.6
3597  69207   187.5   164.8  69.0
4043  70026   184.5   170.7  63.3
3098  68256   188.5   173.2  62.8
2401  66873   149.8   159.1  59.2
2400  66873   149.8   159.1  59.2
573   63215   172.5   170.9  59.1
1716  65537   170.5   173.2  56.8
1717  65537   170.5   173.2  56.8
1718  65537   170.5   173.2  56.8
2957  67964   140.1   157.0  56.8
2956  67964   140.1   157.0  56.8
2179  66422   145.0   160.2  56.5
3376  68726   142.3   160.9  55.0
432   62976   125.6   152.0  54.4
430   62976   125.6   152.0  54.4
429   62976   125.6   152.0  54.4
431   62976   125.6   152.0  54.4
2689  67424   162.0   172.6  54.4
559   63188   120.1   148.8  54.2
2417  66893   166.5   175.5  54.1
2418  66893   166.5   175.5  54.1
2419  66893   166.5   175.5  54.1
2069  66213   180.6   183.8  53.5
1694  65476   149.1   167.6  53.1
2637  67326   150.1   168.6  52.8
3650  69335   152.3   170.6  52.3
3880  69709   118.1   152.3  50.9
3879  69709   118.1   152.3  50.9
3849  69671   108.0   146.0  50.7
...     ...     ...     ...   ...
3958  69871    13.9     NaN   NaN
4109  70154     6.2     NaN   NaN
4147  70242    11.7     NaN   NaN
4150  70253     9.3     NaN   NaN
4154  70257    12.7     NaN   NaN
4156  70260    10.1     NaN   NaN
4194  70339     NaN     NaN   NaN
4243  70434     6.7     NaN   NaN
4244  70434     6.7     NaN   NaN
4287  70569     4.7     NaN   NaN
4311  70610    12.8     NaN   NaN
4424  70787     NaN   153.7   NaN
4425  70787     NaN   153.7   NaN
4426  70787     NaN   153.7   NaN
4437  70809     5.3     NaN   NaN
4438  70810     NaN     NaN   NaN
4451  70831     NaN     NaN   NaN
4452  70831     NaN     NaN   NaN
4605  71106    11.8     NaN   NaN
4622  71138    10.1     NaN   NaN
4627  71148     3.6     NaN   NaN
4647  71192    13.0     NaN   NaN
4655  71210     5.1     NaN   NaN
4664  71225     4.8     NaN   NaN
4780  71463     8.1     NaN   NaN
4883  71684     8.6     NaN   NaN
4911  71754     5.6     NaN   NaN
4943  71797     NaN   182.6   NaN
4944  71797     NaN   182.6   NaN
4996  71910     6.7     NaN   NaN

[5000 rows x 4 columns]

## Example 4

Determine the median Income for the different Education groups.

In [5]:
# Example 4 Answer

# Possible answer
df.groupby("Education").Income.median()

# Another possible answer
df.groupby("Education").Income.agg(np.median)

Education
8th Grade         22500.0
9 - 11th Grade    30000.0
College Grad      87500.0
High School       40000.0
Some College      50000.0
Name: Income, dtype: float64

## Example 5

Query the dataframe for female patients who are 18 years old and older. Sort by Pulse in descending order adn view the first 10 rows. You can use the query -> sort_values -> head functions.

The result should be 10 rows x 32 columns.

In [6]:
# Example 5 Answer

# Possible answer
df[(df.Gender == "female") & (df.Age >= 18)].sort_values(by="Pulse", ascending=False).head(n=10)

# Another possible answer
df.query("Gender == 'female' & Age >= 18").sort_values(by="Pulse", ascending=False).head(n=10)

,id,Gender,Age,Race,Education,MaritalStatus,RelationshipStatus,Insured,Income,Poverty,...,Diabetes,DiabetesAge,nPregnancies,nBabies,SleepHrsNight,PhysActive,PhysActiveDays,AlcoholDay,AlcoholYear,SmokingStatus
4256,70466,female,25,White,High School,LivePartner,Committed,Yes,2500.0,0.16,...,No,NaN,NaN,NaN,4.0,No,NaN,NaN,NaN,Never
676,63418,female,40,White,9 - 11th Grade,NeverMarried,Single,Yes,40000.0,2.20,...,Yes,30.0,NaN,NaN,5.0,Yes,NaN,3.0,10.0,Never
3211,68467,female,47,White,College Grad,Married,Committed,Yes,100000.0,5.00,...,No,NaN,2.0,2.0,5.0,Yes,3.0,2.0,104.0,Never
3210,68467,female,47,White,College Grad,Married,Committed,Yes,100000.0,5.00,...,No,NaN,2.0,2.0,5.0,Yes,NaN,2.0,104.0,Never
2557,67141,female,72,White,Some College,Married,Committed,Yes,NaN,NaN,...,No,NaN,5.0,3.0,6.0,Yes,NaN,2.0,260.0,Former
2556,67141,female,72,White,Some College,Married,Committed,Yes,NaN,NaN,...,No,NaN,5.0,3.0,6.0,Yes,NaN,2.0,260.0,Former
3212,68467,female,47,White,College Grad,Married,Committed,Yes,100000.0,5.00,...,No,NaN,2.0,2.0,5.0,Yes,2.0,2.0,104.0,Never
2555,67141,female,72,White,Some College,Married,Committed,Yes,NaN,NaN,...,No,NaN,5.0,3.0,6.0,Yes,7.0,2.0,260.0,Former
4971,71855,female,62,White,High School,Married,Committed,Yes,12500.0,0.98,...,Yes,32.0,NaN,NaN,10.0,No,5.0,NaN,0.0,Former
4970,71855,female,62,White,High School,Married,Committed,Yes,12500.0,0.98,...,Yes,32.0,NaN,NaN,10.0,No,5.0,NaN,0.0,Former

## Example 6

Group by race and display summary statistics for systolic blood pressure (column name BPSys). You can use the groupby -> describe functions.

In [7]:
# Example 6 Answer

df.groupby("Race").BPSys.describe()

           count        mean        std   min     25%    50%    75%    max
Race
Asian      242.0  116.136364  16.629786  83.0  105.00  114.0  125.0  179.0
Black      485.0  121.078351  19.112489  82.0  108.00  119.0  130.0  221.0
Hispanic   273.0  116.684982  17.313174  81.0  105.00  114.0  126.0  179.0
Mexican    381.0  114.081365  15.194050  83.0  104.00  113.0  123.0  179.0
Other      122.0  117.959016  15.941213  84.0  104.25  117.5  127.0  167.0
White     2778.0  119.379050  17.343050  79.0  108.00  118.0  128.0  217.0

## Example 7

Select the id, Education, PhysActive, and PhysActiveDays columns. Calculate the percentage of physically active days and assign it to a new variable called PCTActive (calculate by dividing PhysActiveDays by 7 and multiplying by 100). Sort in ascending order by PCTActive and display the first 10 rows. You can use [["col1", "col2", ...]] -> assign -> query -> sort_values -> head.

The result should be 10 rows x 5 columns.

In [8]:
# Example 7 Answer

df[["id","Education","PhysActive","PhysActiveDays"]].assign(PCTActive = df.PhysActiveDays/7*100).query("Education == '8th Grade' | Education == 'College Grad'").sort_values(by = "PCTActive").head(n = 10)

         id     Education PhysActive  PhysActiveDays  PCTActive
4998  71915  College Grad         No             1.0  14.285714
2589  67219  College Grad        Yes             1.0  14.285714
2613  67274     8th Grade         No             1.0  14.285714
670   63413  College Grad         No             1.0  14.285714
2685  67417  College Grad        Yes             1.0  14.285714
2775  67560     8th Grade         No             1.0  14.285714
3092  68250  College Grad        Yes             1.0  14.285714
568   63205     8th Grade         No             1.0  14.285714
545   63154     8th Grade         No             1.0  14.285714
2530  67092  College Grad        Yes             1.0  14.285714

## Example 8

Query the dataframe for patients with Income below the 50th percentile. Group by Race and show the mean Weight. You can use query -> groupby -> aggregate.

In [9]:
# Example 8 Answer

df.query("Income < Income.quantile(0.50)").groupby("Race").agg({"Weight": "mean"})

             Weight
Race
Asian     63.454762
Black     69.798485
Hispanic  64.271875
Mexican   61.867254
Other     63.651807
White     72.751767

## Example 9

Group by Education and calculate mean hours of sleep (use column SleepHrsNight). Sort by SleepHrsNight in descending order. You can use groupby -> agg -> sort_values.

In [10]:
# Example 9 Answer

df.groupby("Education").agg({"SleepHrsNight": "mean"}).sort_values(by = "SleepHrsNight", ascending=False)

                SleepHrsNight
Education
College Grad         6.999110
8th Grade            6.872038
9 - 11th Grade       6.814356
Some College         6.807593
High School          6.735598